@model FlightBookingApp.Models.customer_book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>customer_book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birth_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_emailaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_emailaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_postalcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_postalcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
