@model FlightBookingApp.Models.Search

@{
    ViewBag.Title = "Airlines Reservation System";
    

}

<script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div id="PnlHomePage">
        <div id="HomePageTitle">SEARCH FLIGHTS</div>
        <div id="PnlHomeSearch">
            <div id="LblMsg"></div><br />
            <div class="MyRow">
                <input type="radio" name="TripType" id="TripTypeSingle" value="SINGLE" autocomplete="off" class="HomeRadio" />
                <label for="TripTypeSingle"><span></span>ONE WAY</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="TripType" id="TripTypeRound" value="ROUND" autocomplete="off" checked class="HomeRadio" />
                <label for="TripTypeRound"><span></span>ROUND TRIP</label>
            </div>

            <div class="MyRow">
                <div class="TextBCK">
                    <span id="Title">DEPARTURE</span>
                    @Html.EditorFor(model => model.from)
                </div>
                <div class="flightdirection" id="FlightDir">
                    <img id="ImgFlightDir" src="~/images/ROUND.PNG" style="height:35px" />
                </div>
                <div style="float:right;">
                    <div class="TextBCK">
                        <span id="Title">ARRIVAL</span>
                        @Html.TextBoxFor(model => model.to)


                    </div>
                </div>
            </div>

            <br /> <br />
            <div class="MyRow">


                <div class="TextBCK" style="border:none;width:425px">
                    <span id="Title">DEPARTURE DATE</span>                  
                    @Html.TextBoxFor(model =>model.fromtime, new { @class = "datepicker", @type = "date" })
                </div>

                <div class="TextBCK" style="border:none;width:350px">
                    <span id="Title">ARRIVAL DATE</span>  &nbsp;&nbsp;
                  
                    @Html.TextBoxFor(model => model.totime, new { @class = "datepicker", @type = "date" })
                </div>

            </div>

               <div class="MyRow">

            <div class="TextBCK" style="border:none;width:425px">
                <span id="Title">AIR LINE TYPE</span>
                @*      @Html.DropDownListFor(model => model.airline_choice, new SelectList(Model.Airlines))*@
                @*<div class="airline-select" style="width:200px;" id="airline_choice" name="airline_choice">*@
                <select name="airline_choice">
                    <option value="-1">---Select--</option>
                    <option value="WestJet Airlines">WestJet Airlines</option>
                    <option value="Air Canada">Air Canada</option>
                    <option value="JetBlue Airways">JetBlue Airways</option>
                </select>
                </div>

                <div class="TextBCK" style="border:none;width:350px">
                    <span id="Title">PRICE RANGE</span>  &nbsp;&nbsp;
                    @*  <div class="price-range" style="width:200px;" id="price-range" name="price_range">*@
                    <select name="price_range">
                        <option value="-1">---Select--</option>
                        <option value="0">0-300</option>
                        <option value="1">300-500</option>
                        <option value="2">500 upper </option>
                    </select>
                    @*</div>*@
                    @*   @Html.TextBoxFor(model => model.price_range)*@
                </div>
            </div>

            <div class="MyRow">
                <div class="TextBCK" style="border:none;width:350px">
                    <span id="Title">NUMBER OF PEOPLE (1-10) </span>  &nbsp;&nbsp;
                    <input type="number" id="people_count" name="people_count"
                           min="1" max="10">
                </div>

            </div>

            <br /><br /><br />
            <div class="MyRow">
                <input type="submit" value="SEARCH FLIGHTS" class="btn btn-default" />
            </div>
                               

        </div>
    </div>
       
}


