@model FlightBookingApp.Models.customer_book

@{
    ViewBag.Title = "Sign Up";
}

<style type="text/css">
    .bs-example {
        height: 220px;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    .centerlook {
        padding-left: 300px;
        font-weight: bold;
        width: 1000px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .error {
        padding-left: 400px;
        font-weight: bold;
        width: 1000px;
        color: red;
    }

    .loginbtn {
        padding-left: 440px;
    }

    .already {
        padding-left: 400px;
    }

    .align {
        padding-top: 10px;
        padding-left: 150px;
        width: 800px;
    }

    .box {
        margin-bottom: 136px;
        margin-top: -87px;
    }

     .box :hover {
            background: linear-gradient(rgba(19,11,11,69),rgba(111,26,56,0));
            color: white;
        }

    form:hover {
        opacity: 0.8;
        background: linear-gradient(rgba(19,11,11,69),rgba(111,26,56,0));
        color: white;
    }
</style>

@using (Html.BeginForm("signUp", "Home", FormMethod.Post))

{

    @Html.AntiForgeryToken()


    <body>
        <div class="form-horizontal">
            <br />
            <center>
                <h2><b>Sign Up</b></h2>
                <p><b>Please fill in this form to create an account.</b></p>

            </center>
            <div>
                <center>
                    <font color="red">
                        <b>@ViewData["message"]</b>
                    </font>
                </center>
            </div>
            <br />


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group align">

                <b style="width:100px;">@Html.LabelFor(model => model.customer_name, htmlAttributes: new { @class = "control-label col-md-2" })</b>

                <div class="control-label col-md-10">

                    @Html.EditorFor(model => model.customer_name, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.customer_name, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-group align">

                <b>@Html.LabelFor(model => model.customer_emailaddress, htmlAttributes: new { @class = "control-label col-md-2" })</b>

                <div class="control-label col-md-10">

                    @Html.EditorFor(model => model.customer_emailaddress, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.customer_emailaddress, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-group align">

                <b>@Html.LabelFor(model => model.customer_password, htmlAttributes: new { @class = "control-label col-md-2" })</b>

                <div class="control-label col-md-10">

                    @Html.EditorFor(model => model.customer_password, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.customer_password, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-group align">

                <b style="width:20000px;">@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })</b>

                <div class="control-label col-md-10">

                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                </div>

            </div>

        </div>

        <div class="loginbtn">
            <input type="submit" value="Sign Up" class="btn btn-primary" />
        </div>
        <br />
        <div class="already">
            <li>@Html.ActionLink("Already have an Account?", "Login", "Home")</li>
        </div>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </body>
}
